body {
    background-color: #EFEFEF;
}

/*
COLORS:
#EBEBF2
#D9D9D9
#BFBFBF
#262626
#33667F

#2B3A42
#3F5765
#BDD4DE
#EFEFEF
#FF530D
*/

#site-content {
    width: 100%;
    height: 100%;
    margin: 0 auto 0 auto;
    box-sizing: border-box;
    min-width: 800px;
    font-size: 28px;
    color: #262626;
    font-family: 'Indie Flower', cursive;
}

.button {
    background-color: #2B3A42;
    border: 4px solid #BDD4DE;
}

.button p,
.button i {
    color: #BDD4DE;
}

.item-list {
    list-style: none;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}

.item-list li {
    width: 80%;
    line-height: 0;
    height: 95px;
    padding: 5px 0 5px 0;
    margin: 0 auto 10px auto;
    background-color: #3F5765;
    border-radius: 50px;
    border: 5px solid #2B3A42;
    overflow: hidden;
    word-break: break-all;
    /*    box-sizing: border-box;*/
}

.item-list .delete-checkbox,
.item-list .checkbox {
    background-color: #EBEBF2;
    border: 3px solid #2B3A42;
    border-radius: 25%;
    width: 50px;
    height: 50px;
    margin: 0 30px 0 10%;
    display: inline-block;
    overflow: hidden;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
}

.item-list li > div {
    height: 100%;
}

.item-list .delete-checkbox {
    border: 3px solid #a81010;
    background-color: #dedad0;
    display: none;
}

.item-list p {
    margin: 0;
    color: #EFEFEF;
    font-size: 60px;
    vertical-align: middle;
    display: inline-block;
}

.top-buttons-bar {
    height: 260px;
    background-image: url('../images/darkwood.png');
    background-color: #2B3A42;
    font-size: 0;
    overflow: hidden;
    box-shadow: 0px 0px 3px;
}

.top-buttons-bar > div {
    height: 100%;
    width: 85%;
    margin: 0 auto;
}

.top-buttons-bar div .buttons {
    display: block;
    margin: 0;
    float: right;
    line-height: 0;
    font-size: 0;
    padding: 0 20px 0 0;
    user-select: none;
}

.top-buttons-bar .buttons li {
    display: inline-block;
}

.top-buttons-bar .buttons li div {
    height: 70px;
    width: 70px;
    border-radius: 25%;
    margin: 0 10px;
}

.top-buttons-bar div > div {
    margin: 0 auto;
    padding-right: 30px;
    display: block;
}

.top-buttons-bar h1 {
    font-size: 64px;
    letter-spacing: 5px;
    color: #FF530D;
    text-shadow: 2px 2px 5px #2B3A42;
    padding: 0;
    margin: 40px 0 30px 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.buttons div i {
    font-size: 55px;
    margin: 0 auto;
    display: block;
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
}

.delete-checkbox i,
.checkbox i {
    margin: 0 auto;
    display: none;
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
}

.item-checked .checkbox {
    background-color: #D9D9D9;
    border-color: #a7a7a7;
}

.item-checked .checkbox i {
    display: block;
    color: #BFBFBF;
}

.item-checked p {
    color: #BFBFBF;
    text-decoration: line-through;
}

li.delete-mode {
    background-color: #ff8e48;
    border-color: #ffce48;
}

.delete-item-checked .delete-checkbox i {
    display: block;
}

li.delete-item-checked {
    background-color: #e44c19;
    border-color: #9f0404;
}

.delete-item-checked .delete-checkbox {
    background-color: #d26767;
}

.empty-list-notice {
    opacity: .6;
    height: 95px;
    width: 80%;
    margin: 20px auto;
    text-align: center;
    background-color: #26221E;
    border: 5px solid #595552;
    border-radius: 50px;
    display: none;
}

.empty-list-notice > div {
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
}

.empty-list-notice p {
    color: #8C877D;
    margin: 0;
    font-weight: bold;
    font-size: 36px;
    line-height: 30px;
}

.add-item-container {
    background-color: #BFBFBF;
    display: none;
    width: 90%;
    margin: 20px auto 0 auto;
    border: 5px solid #262626;
    border-radius: 50px;
}

.add-item-container > div:first-child {
    height: 120px;
    width: 80%;
    margin: 0 auto;
}

.add-item-container .add-item-text {
    width: 80%;
    margin: 0 auto;
    clear: both;
    height: 100%;
    display: none;
}

.add-item-container div input {
    font-size: 50px;
    width: 55%;
    border: 3px solid #262626;
    box-shadow: inset 1px 1px 2px 0 #BFBFBF;
    text-align: center;
    padding: 5px;
    display: inline-block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    float: right;
}

.add-item-container div .button {
    border-color: #262626;
    border-radius: 25%;
    display: inline-block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
}

.add-item-container .add-button {
    margin: 0 40px 0 20px;
    float: right;
}

.add-item-container .cancel-button {
    width: 60px;
    height: 60px;
    font-size: 44px;
    text-align: center;
    float: right;
    margin-left: 20px;
}

.add-item-container div p {
    color: #262626;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 10px;
}

.add-item-container div i {
    color: #262626;
}

.add-item-container .add-button:hover,
.add-item-container .cancel-button:hover,
#cancel-delete-button:hover,
#add-item-button:hover,
#delete-item-button:hover {
    background-color: white;
}

.delete-items-container {
    height: 80px;
    background-color: #ffce48;
    width: 90%;
    margin: 20px auto 0 auto;
    border-radius: 50px;
    border: 5px solid #fa6000;
}

.delete-items-container > div {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.delete-items-text {
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
}

.delete-items-text p {
    margin: 0;
    line-height: 30px;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
}

#confirm-delete-button {
    background-color: #ffce48;
    border: 3px solid #c60000;
}

#confirm-delete-button:hover {
    background-color: #a50505;
    border-color: white;
}

#confirm-delete-button:hover i {
    color: #ffffff;
}

#confirm-delete-button i {
    color: #d83232;
}

#confirm-delete-button:active {
    background-color: black;
}

.button:hover {
    cursor: pointer;
    cursor: hand;
}
